<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">This is a small, random representation of some of the work we have done over the past few years.</p>
    <p>
      <%= link_to 'More about Curtis Dunne & Neutrino Software Company', about_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>
