<h1>About Me and Neutrino Software Company</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "CurtisDunnePic.jpg", width: 250, alt: "Neutrino Logo" %>
  </div>
  <div class="col-md-8">
    <p>With over two decades of designing, planning, creating, and distributing <bold>custom software solutions</bold>, I
      have both a wide and deep skill-set in numerous mobile and web technologies.  What this means to you is that I can design and
      create a custom software solution for your small or medium sized business.
    </p>

    <p>Whether it be an <strong>iOS app</strong>, a <strong>Web App</strong>, <em>and/or</em> just about anything else
      in between, I can get it done for you <strong>on time</strong>, and <strong>at an affordable price</strong>.  Check out my Portfolio page to
      get an idea of what I am capable of doing for you.
    </p>

    <p><strong><em>Neutrino Software Company</em></strong> is my latest focus. After over 15 years as CEO of <strong><em>Acme Software Company</em></strong> (and then
      <strong><em>Acme Computer Services</em></strong>), I am going back to my roots of helping out small & mid-sized businesses achieve their dreams
      and improve their bottom line via automation, mobile, and web technologies.
    </p>
  </div>
</div>
