<h1>About Me and Neutrino Software Company</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "CurtisDunnePic.jpg", width: 250, alt: "Neutrino Logo" %>
  </div>
  <div class="col-md-8">
    <p>With over two decades of designing, planning, creating, and distributing <bold>custom software solutions</bold>, I
      have both a wide and deep skillset in numerous technologies.  What this means to you is that I can design and
      create a custom software solution for you.  Whether it be an iOS app, a Web App, or just about anything input
      in between, I can get it done for you on time, and at an affordable price.  Check out my Portfolio page to
      get an idea of what I am capable of doing for you.
    </p>

    <p>Neutrino Software Company is my latest focus. After over 15 years as CEO of Acme Software Company (and then
      Acme Computer Services), I am going back to my roots of helping out small businesses achieve their dreams
      and improve their bottom line via automation and technology.
    </p>
  </div>
</div>
