<div class="app-card-container">
  <div class="card">
    <h1>Are you looking for affordable custom app or web development?</h1>

    <hr>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>1977 S. Chekshani Clf, New Harmony, UT 84757</p>

        <h3>Phone</h3>
        <p><%= number_to_phone "7606958071" %></p>

        <h3>Email</h3>

        <p><a href="mailto:curtdunne@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.2295305604034!2d-113.200
        8776838861!3d37.502504235548784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ca84d61088
        2ba9%3A0x1da4d89a8a1af97f!2s1977+Chekshani+Cliffs%2C+New+Harmony%2C+UT+84757!5e0!3m2!1sen!2sus!4
        v1559774766564!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0"
        allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
