<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">
    Hello and welcome to Neutrino Software Company. I am <strong>Curtis Dunne</strong>, the founder and CEO and I am so happy that you stopped by to see what we are all about.
    Please feel free to look around our website.  Don't forget to check out our Blog page as well as our Portfolio page to help you get a better
    idea of what we are all about and what problems we can solve for you.
  </p>

  <hr>

  <p class="lead">
    Mobile and Web Software development and the tools that drive it are constantly changing and improving.  At <strong><em>Neutrino Software Company</em></strong>, we believe it is of vital importance to keep up with the lastest changes in the software development world and to never tire or grow weary of our ever changing profession.
  </p>

  <hr>

  <p>
    If you have an idea for a great <strong>mobile</strong> or <strong>web app</strong> (or both!), please use the Contact page to let us know what you are thinking.  We will be happy to provide you with a <em>free</em> written estimate on your project. We will also let you know about how long it will take to turn your great ideas into a real, working, and breathing app.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
