<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development and the tools that drive it are constantly changing and improving.  I believe it is of vital importance to keep up with the lastest changes in the software development world and to never tire or grow weary of our ever changing profession.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
